html, body {
	font-size: 20px;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.background {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.info {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background: #FFF;
	z-index: 100;
	position: absolute;
	top: 50%;
}

.inner {
	padding: 40px 10px;
}

p {
	margin-top: 30px;
}

@media screen and (max-width: 450px) {
	html, body {
		font-size: 18px;
	}

	.logotype {
		width: 80%;
		height: auto;
	}


	p {
		margin-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
	}
}